body { 
  background-color: teal;
  font-family: Copperplate, sans-serif;
}


button {
  font-family: Copperplate, sans-serif;
  font-size: 15px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #eee;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 4px
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.lightgreen {
  color: green;
}

.numberAc {
  background-color: goldenrod;
}

.numberDel {
  background-color: red;
}

.equal {
  background-color: lightgreen;
}

input {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  width: 120px;
  text-align: right;
  border-radius: 4px;
  border: none;
}

.container {
  text-align: center;
}

.Border {
  border: 2px solid white;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #44256f;
  border-radius: 0 0 20px 20px
}

.titleBorder {
  border: 2px solid white;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #8e7fa3;
  font-family: Copperplate, sans-serif;
  border-radius: 20px 20px 0 0; 
}

#result {
 color: black;
 background-color: white;
 height: 30px;
 width: 200px;
 margin-left: auto;
 margin-right: auto;
}

h2.thick {
  font-weight: bold;
}

